.btn {
  display: inline-block;
  /* Було 14px 35px -> Стало компактніше */
  padding: 12px 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-main);

  /* Шрифт теж трохи менший (було 13px) */
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: center;
  border-radius: 50px;
}

.btn--primary {
  background-color: var(--color-gold);
  color: var(--color-black);
  box-shadow: 0 4px 15px rgba(212, 175, 55, 0.3);
}

.btn--primary:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.4);
}

.btn--outline {
  background-color: transparent;
  border: 1px solid var(--color-gold);
  color: var(--color-gold);
}

.btn--outline:hover {
  background-color: var(--color-gold);
  color: var(--color-black);
}
